.container {
  background-color: #fff;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 0;
  flex-direction: column;
  min-width: 150px;
  border-radius: 12px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container img {
  margin-bottom: 1rem;
  filter: drop-shadow(0px 20px 5px rgba(0, 0, 0, 0.1));
}

.container h3,
.container p,
.container img {
  padding: 0 1rem;
}

.container p {
  font-size: small;
}
