.bg_title {
  width: 100%;
  position: relative;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem !important;
  margin-bottom: 2rem !important;
  padding: 6rem 0;
  background-color: #dcf8ff;
  border-radius: 10px;
}

.title {
  text-align: center;
}
