:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.flex {
  margin: 10px 1rem 0;
  display: flex;
  align-items: center;
}

.label {
  cursor: pointer;
  width: 100%;
  font-weight: 700;
  margin-left: 1rem;
}

.default_label {
  color: #737373;
}

.correct_label {
  color: #3eb8d4;
}

.incorrect_label {
  color: #ff5341;
}

.options {
  width: 100%;
  justify-content: space-between;
  padding: 1rem 0;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.defaultOptions {
  border: 1px solid #EFEFEF;
}

.correctOption {
  background-color: #dcf8ff;
  border: 1px solid #3eb8d4;
}

.incorrectOption {
  background-color: #ffdfdc;
  border: 1px solid #ff5341;
}

.input {
  background-position: center;
  background-size: cover;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  cursor: pointer;
}

.default_Input {
  background-image: url("./assets/circle.svg");
}

.input_correct {
  background-image: url("./assets/check.svg");
}

.input_incorrect {
  background-image: url("./assets/wrong.svg");
}

h2,
h3 {
  margin: 3px 0;
}

p {
  margin: 0;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
  transition: ease 0.3s all;
}

a:hover {
  transform: scale(1.03);
}

body {
  background-color: #f1f1f1;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1em;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  cursor: pointer;
  transition: opacity 0.25s;
}
